<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    
    <!-- lib css -->
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
    
    <!-- site-specific css -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />

</head>
<body>
<div class="container">
    @RenderBody()
</div>
<footer>
    <div class="container footer">
        <p>유한회사클라우드인터렉티브는 위 정보의 신뢰성이나 오차에 대한 아무런 책임도 지지 않으며, 이는 온전히 사용자의 책임입니다.<br/>
        Copyright (C) 2020-2023 CloudInteractive Inc.</p>
    </div>
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
