html {
    font-family: Pretendard;
    background-color: #1c1c1c;
}

body {
    margin: 0;
}

.title {
    color: white;
}

.footer p {
    color: #878787;
}

.notify-area{
    margin-top: 0px
}

.alert .card-content {
    padding: 12px;
}

.alert .card-content span {
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 4px;
}

.alert .card-content .material-icons {
    font-size: 1.5em;
    position: relative;
    top: 5px;
    margin-right: 0.5em;
}
