html {
    font-family: Pretendard;
    background-color: #1c1c1c;
}

body {
    margin: 0;
}

/* layouts */
.title {
    color: white;
}

.footer p {
    color: #878787;
}

.notify-area{
    margin-top: 0px;
}

.content-tile {
    min-height: 200px;
    padding: 0px;
    border-radius: 10px;
}

.left-col {
    padding: 0px 0px 10px !important;
}

.right-col {
    padding: 10px 0px 10px !important;
}
.center-col {
    padding: 10px 0px 0px 0px !important;
    min-height: 300px !important;
}
@media(min-width:992px) {
    .left-col {
        padding: 0px 10px 10px 0px !important;
    }

    .right-col {
        padding: 0px 0px 10px 10px !important;
    }
}


/* alert */
.alert {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.alert .card-content {
    padding: 12px;
}

.alert .alert-accent {
    width: 10px;
}

.alert .card-content span {
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 4px;
}

.alert .card-content .material-icons {
    font-size: 1.5em;
    position: relative;
    top: 5px;
    margin-right: 0.5em;
}
